@model CallCenter.UI.ViewModels.IndexFilterViewModel

<div id="container" class='container-fluid'>

    <div class="page-header col-lg-10 col-lg-offset-1 green"> <h2 class="center-block">Клиенты фирмы</h2>  <a class="text-right" href="~/ApiPage/Index">Интерфейс на WebApi</a></div>

    <div id="pageContainer" class="green">

        <div class="col-lg-10 col-lg-offset-1">
            @using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Get, htmlAttributes: new { name = "personsListForm" })) {
                <fieldset title = "Фильтрация" class="form-group row">
                    <div class="col-xs-3">
                        <label for="NameFilter" class="small">Фамилия, имя или отчество:</label>
                        <input type="text" class="form-control" id="NameFilter" name="NameFilter" placeholder="ФИО" value="@Model.NameFilter" />
                    </div>
                    <div class="col-xs-2">
                        <label for="GenderFilter" class="small">Пол:</label>
                        <select id="GenderFilter" name="GenderFilter" class="form-control">
                            <option value="0"
                                @if (Model.GenderFilter == 0) {
                                    @:selected='selected'
                                }
                                >Все</option>
                            <option value="1" 
                                @if (Model.GenderFilter == 1) {
                                     @:selected='selected'
                                }
                                >М</option>
                            <option value="2" 
                                @if (Model.GenderFilter == 2) {
                                    @:selected='selected'
                                }
                                >Ж</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <label for="AgeMin" class="small">Мин. возраст:</label>
                        <input type="number" class="form-control" id="AgeMin" name="AgeMin" title="Минимальный возраст" value="@Model.AgeMin" />
                    </div>
                    <div class="col-xs-2">
                        <label for="AgeMax" class="small">Макс. возраст:</label>
                        <input type="number" class="form-control" id="AgeMax" name="AgeMax" title="Максимальный возраст" value="@Model.AgeMax" />
                    </div>
                    <div class="col-xs-2">
                        <label for="MinDaysAfterLastCall" class="small">Пред. зв. (дней):</label>
                        <input type="number" class="form-control" id="MinDaysAfterLastCall" name="MinDaysAfterLastCall" title="Не менее дней после последнего звонка" value="@Model.MinDaysAfterLastCall" />
                    </div>
                    <div class="col-xs-1">
                        <input type="submit" class="btn btn-default" value="Поиск" />
                    </div>

                    <input type="hidden" id="PageSize" name="PageSize" value="@Model.PageSize" />
                    <input type="hidden" id="PageNo" name="PageNo" value="@Model.PageNo" />                    
                </fieldset>
            }
            @{int pagesCount = (int)Math.Ceiling((double)Model.RecordsCount / Model.PageSize);}
            <input type="hidden" id="PagesCount" name="PagesCount" value="@pagesCount" />            
            <input type="hidden" id="RecordsCount" name="RecordsCount" value="@Model.RecordsCount" />
        </div>

        <div class='col-lg-10 col-lg-offset-1'>
            <table class="table table-striped" id="tableUsersList">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th></th>                        
                    </tr>
                </thead>
                <tbody>

                   @foreach (var persItem in ViewBag.PersonsList)
                   {
                       <tr>
                           <td>@persItem.LastName</td>
                           <td>@persItem.FirstName</td>
                           <td>@persItem.Patronymic</td>
                           <td>
                           <a href="#">Детали</a> | 
                           <a href="#">Редактировать</a> |
                           <a href="#">Удалить</a>
                           </td>
                       </tr>
                   }

                </tbody>
            </table>

            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editPerson" onclick="addPersonClick();">
                Добавить
            </button>

            <nav>
                <ul class="pager">
                    <li class="pager-prev"><button onclick="prevPage();">&lt;</button></li>                    
                    <li id="pageLabel">[@Model.PageNo из @pagesCount ]</li>
                    <li>
                        Записей на страницу:
                        <select id="iPerPage" onchange="itemsPerPageSelect();">
                            @{ 
                                int[] arr = new int[] { 30, 25, 20, 15, 10 };
                            }
                            @foreach (int i in arr)
                            {
                                if (i == Model.PageSize)
                                {
                                    <option value="@i" selected="selected">@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }                            
                        </select>
                    </li>
                    <li class="pager-next"><button onclick="nextPage();">&gt;</button></li>
                </ul>
            </nav>
        </div>
        
    </div>
</div>

@section scripts{
<script>
    function itemsPerPageSelect() {
        $('#PageSize').val($('#iPerPage option:selected').text());
        $('#PageNo').val(1);
        document.forms['personsListForm'].submit();
    };

    function prevPage(){
        let pageNo = parseInt($('#PageNo').val());
        if (pageNo > 1) {
            $('#PageNo').val(pageNo - 1);
            document.forms['personsListForm'].submit();
        }
    };

    function nextPage(){
        let pageNo = parseInt($('#PageNo').val());
        let pagesCount = parseInt($('#PagesCount').val());
        if (pageNo < pagesCount) {
            $('#PageNo').val(pageNo + 1);
            document.forms['personsListForm'].submit();
        }
    };
</script>    
}



